.button-primary {
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  color: var(--clr-white);
  background-color: var(--clr-accent-500);
  border: none;
  border-radius: 3px;
  transition: all 200ms ease;
}

.button-primary:disabled {
  opacity: 0.6;
}

.button-primary:hover:not(:disabled) {
  background-color: var(--clr-accent-400);
  cursor: pointer;
}
