---
import Layout from "@/layouts/Layout.astro"
import ContactForm from "@/components/ContactForm/ContactForm.tsx"
---

<Layout title="Hello Title" desc="Hello Description">
  <main>
    <ContactForm client:load />
  </main>
</Layout>
