---
import { getRelativeLocaleUrl } from "astro:i18n"
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import Link from "./Link.astro"
import ThemeButton from "./ThemeButton.astro"
import LangButton from "./LangButton.astro"
import NavToggle from "./NavToggle.astro"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const homeURL = getRelativeLocaleUrl(lang, "/")
const aboutURL = getRelativeLocaleUrl(lang, "/about")
const projectsURL = getRelativeLocaleUrl(lang, "/projects")
const contactURL = getRelativeLocaleUrl(lang, "/contact")
---

<header>
  <div class="py-5 container flex items-center">
    <a class="logo" href="/">TS</a>
    <nav class="flex gap-4">
      <Link href={homeURL}>{t("nav.home")}</Link>
      <Link href={aboutURL}>{t("nav.about")}</Link>
      <Link href={projectsURL}>{t("nav.projects")}</Link>
      <Link
        href={contactURL}
        style="button"
        icon={{ name: "utils/arrow-right", side: "right" }}
      >
        {t("nav.contact")}
      </Link>
      <div class="flex justify-center gap-4">
        <ThemeButton />
        <LangButton />
      </div>
    </nav>
    <NavToggle />
  </div>
</header>

<style>
  .logo {
    margin-right: auto;
    padding: 0.4rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    color: var(--clr-white);
    background-color: var(--clr-accent-500);
    border-radius: 4px;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    nav {
      z-index: 999;
      display: none;
    }

    nav.open {
      position: absolute;
      top: 5rem;
      right: 1rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      background-color: var(--clr-slate-200);
      border: 1px solid var(--clr-slate-400);
    }

    nav::before {
      content: "";
      position: absolute;
      top: -0.5rem;
      right: 0.5rem;
      width: 3.2rem;
      height: 3.2rem;
      background-color: var(--clr-slate-200);
      border: 1px solid var(--clr-slate-400);
      clip-path: polygon(0 0, 50% 0, 100% 50%, 0 50%);
      transform: rotate(45deg);
    }

    :global(.dark) nav,
    :global(.dark) nav::before {
      border-color: var(--clr-zinc-700);
      background-color: var(--clr-zinc-950);
    }
  }
</style>
