---

---

<div id="toast"></div>

<style>
  #toast {
    visibility: hidden;
    position: fixed;
    left: calc(50% - 10rem);
    bottom: 30px;
    width: 20rem;
    max-width: 20rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    border-radius: 5px;
  }

  #toast.show {
    visibility: visible;
    animation:
      fadein 0.5s,
      fadeout 0.5s 2.5s;
    -webkit-animation:
      fadein 0.5s,
      fadeout 0.5s 2.5s;
  }

  .toast-success {
    background-color: #059669;
  }

  .toast-error {
    background-color: #dc2626;
  }

  @-webkit-keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 30px;
      opacity: 1;
    }
  }

  @keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 30px;
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }

  @keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }
</style>
