---
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import Layout from "@/layouts/Layout.astro"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title="About" desc="Description">
  <main>
    <div class="container">{t("nav.about")}</div>
  </main>
</Layout>
