---
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import Layout from "@/layouts/Layout.astro"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title="projects" desc="Description">
  <main>
    <div class="container">
      <h1 class="page-head">{t("nav.projects")}</h1>
      <div class="py-4">
        <p>{t("projects.p1")}</p>
      </div>
    </div>
  </main>
</Layout>
